<div class="row" style="padding:10px">
	<h2 style="text-align:center; color:#06264A"> Messages </h2>
	<div class="col-sm-6" style="padding-left:50px">
		<button class="btn btn-primary btn-ms" style="background-color:#2A517D; "ng-click="getAllUsers()">Refresh user list</button>

		
		<ul class="list-unstyled" style="padding-top: 20px; padding-bottom:40px">
			<div class="btn-group">
			<li ng-repeat="x in theOutput" >
				
				<button ng-click="chooseMsgRecipient(x)" class="btn btn-default" style="color:#173C65">{{x}}</button>
			</li>
		</ul>
		
		<a href="index.html#/rooms"> Back </a>
	</div>

	<div class="col-sm-5">
	
		<label>Send to: {{MsgRecipient}}</label> <br />
		<input  style="width: 300px; height: 40px " type="text" ng-model="privateMsgBox"/>
		<button class="btn btn-primary btn-ms" style="background-color:#2A517D;" ng-click="sendPrivateMsg()"> SEND </button>
	
	</div>


<!--
	<h1>send PRIVATE message</h1>
	<p>Send to: {{MsgRecipient}}</p>
	<input type="text" ng-model="privateMsgBox"/>
	<button ng-click="sendPrivateMsg()"> SEND </button>
-->

	<h1>Received Private Messages</h1>
	<ul>
		<li ng-repeat="x in privateMsgArray">{{x.user + ": " + x.message}}</li>
	</ul>

</div>

<!--ng-keypress="onPrivateEnter($event)"-->