div  li {
	list-style: none; /* Remove list bullets */
    margin: 0;
}

h4 {display: inline;}

div .room {

	position: fixed;
	height: 1000px;
	width:  12000px;

} 



div .room .roomMessage {
	margin-left: 100px;
	margin-right: 100px;
	color: #0d0033;
	padding: 20px;
	font-weight: 30px;

}


 div .room  .userList {
 	display: inline-block;
	margin-right: 40px;
	width: 150px;
	background-color: #e6eeff ;
	border-style: groove;
	border-width: medium;
	border-color: #0d0033;
	padding: 10px;



} 
div .room  .message {

	display: inline-block;
	float: left;
	margin-left: 20px;
	width: 600px;
	background-color:#e6eeff  ;

	border-style: groove;
	border-width: medium;
	border-color: #0d0033;
	/*line-height:15px;*/

} 
div .room  .message .inputmsg {

	float: left;
	margin-left: 2px;
	width: 500px;
	background-color: white  ;



} 

