<!DOCTYPE html>
<html ng-app="chatApp">
	<head>

	<meta http-equiv="Content-type" content="text/html; charset=UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="index.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
	

	<title>Chat APP</title>
	<body>
		
	<div class="container">
		<div ng-controller="HeaderController" ng-init="displayWelcome='';displayUsername=''">
			<div class="jumbotron text-center" style="background-color:#ADD8E6!important; padding:5px !important">
				
				<h1 style="color:white"> Chat App</h1>
				
				<div class="navbar-collapse collapse">
					<div class="row">
						<div class="col-md-5">
		        		
		          			<ul class="nav navbar-nav navbar-left">
					            <li> <a style="color:white" ng-click="msgWindow()">Skilaboð  </a>   </li>       

					        </ul>
						</div>  
					    <div class="col-md-6">
				    	 		<p style="color:white; text-align: left;" >{{displayWelcome}}<strong>{{displayUsername}}</strong></p>
						</div>
				 
					 </div> 	
				</div>

				   

          		</div><!--/.nav-collapse -->

          		</div>
          		
		

		<div class="row">
			<div class="col-md-12" >
				<div ng-view > </div>
				<!--<div ng-controller="HomeController"></div>-->

			</div>
		</div>

			<!--<div class="row">
			<div class="list-group">	
			<ul>
				<li ng-repeat= "x in theOutput">
			<button type="button" ng-click="sendMsgWindow(x)" class="list-group-item active">
    		<h4 class="list-group-item-heading">{{x}}</h4>
 		 	</button>
			</div>
			 </li>
		<div ng-controller="HomeController" ng-init="displayButton=false">
			<button ng-show="displayButton"ng-click="getAllUsers()">Get Users</button>
			<ul>
				<li ng-repeat= "x in theOutput"> {{x}} <button ng-click="sendMsgWindow(x)"> Skilaboð </button> </li>

			</ul>  -->
				
		
	</div>
	
		

		
		<script src="../node_modules/angular/angular.js"></script>
		<script src="../node_modules/angular-route/angular-route.js"></script>
		<!--<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>-->		

		<script src="../node_modules/angular-socket-io/socket.js"></script>
		<!--<script src="../node_modules/socket.io-client/socket.io.js"></script>-->
		<script src="../node_modules/socket.io-client/dist/socket.io.js"></script>


		<!-- ??????????? -->
		<script src="app.js"></script>
		
		<script src="login/LoginController.js"></script>
		<script src="roomlist/RoomlistController.js"></script>
		<script src="resource/ChatResource.js"></script>
		<script src="room/RoomController.js"></script>
		<script src="msg/MsgController.js"></script>
		<script src="HeaderController.js"></script>
		<!--<script src="msg/HomeController.js"></script>-->
		

	</body>
</html>
