div  li {
	list-style: none; /* Remove list bullets */
    margin: 0;
}



div .room {

	position: fixed;
	height: 1000px;
	width:  12000px;

} 



div .room .roomMessage {
	margin-left: 100px;
	margin-right: 100px;

	padding: 20px;
	font-weight: 30px;

}


 div .room  .userList {
 	display: inline-block;
	margin-right: 40px;
	width: 200px;
	background-color: lightpink ;
	border-style: groove;
	border-width: medium;
	border-color: black;



} 
div .room  .message {

	display: inline-block;
	float: left;
	margin-left: 20px;
	width: 400px;
	background-color: lightgreen ;

	border-style: groove;
	border-width: medium;
	border-color: black;

} 
