<!DOCTYPE html>
<html ng-app="chatApp">
	<head>
		<meta charset="UTF-8">
	 <link rel="stylesheet" type="text/css" href="index.css">

		<title>Chat APP</title>
	<body>
		<h1>Chat App</h1>
		
		<div ng-view >
		
		</div>

		<div ng-controller="HomeController">
			<button ng-click="getAllUsers()">Get Users</button>
			<ul>
				<li ng-repeat= "x in theOutput"> {{x}}  <button ng-click="sendMsgWindow(x)"> Skilaboð </button> </li>

			</ul>

			<!--<ul>
				<li ng-repeat="y in rcvMessageList"> {{y.username + ": " + y.message}} </li>
			</ul>-->
		</div>

		<script src="../node_modules/angular/angular.js"></script>
		<script src="../node_modules/angular-route/angular-route.js"></script>
		<!--<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>-->		

		<script src="../node_modules/angular-socket-io/socket.js"></script>
		<!--<script src="../node_modules/socket.io-client/socket.io.js"></script>-->
		<script src="../node_modules/socket.io-client/dist/socket.io.js"></script>


		<!-- ??????????? -->
		<script src="app.js"></script>
		
		<script src="login/LoginController.js"></script>
		<script src="roomlist/RoomlistController.js"></script>
		<script src="resource/ChatResource.js"></script>
		<script src="room/RoomController.js"></script>
		<script src="msg/MsgController.js"></script>
		<script src="msg/HomeController.js"></script>
		

	</body>
</html>