div  li {
	list-style: none; /* Remove list bullets */
    margin: 0;
}

div .view {

	position: absolute;
	height: 700px;
	width:  1000px;
} 




 div .room  .userList {

	float: right;
	margin-right: 40px;
	width: 200px;
	background-color: lightpink ;

	border-style: groove;
	border-width: medium;
	border-color: black;

} 

div .room  .message {

	float: left;
	margin-left: 20px;
	width: 400px;
	background-color: lightgreen ;

	border-style: groove;
	border-width: medium;
	border-color: black;

} 
