<div class="room">

	<h2 style="color:#06264A"> Velkomin í {{roomName}} hér er allur perraskapur  vel þeginn </h2>
	
	<div class="roomMessage">
			<h4> Skilaboð: {{roomBannerMessage}} </h4>
	</div>
	
	<div class="userList">
		<h4>Users in the room</h4>
	
		<ul>
			<li ng-repeat="(key, x) in opList"> (op){{x}} <button ng-click="kickUser(x)">KICK</button> <button ng-click="banUser(x)">BAN</button></li>
		</ul>

		<ul>
			<li ng-repeat="(key, x) in userList"> {{x}} <button ng-click="kickUser(x)">KICK</button> <button ng-click="banUser(x)">BAN</button></li>
		</ul>

	</div>
	<div class="message">
	
		<ul>
			<li  ng-repeat= " (timestamp,  x) in message"> <h4>{{x.nick +  ": "}} </h4> <small>{{x.timestamp | date:'hh:mm: '}}</small> <br />{{" " + x.message}} </li> 
			<li><input class="inputmsg" type="text" ng-model="messageBox" ng-keypress="onEnter($event)"/>
			<button ng-click="sendMessage()"> SEND </button></li>
		</ul>

	</div>

	

	<button ng-click="leaveRoom()"> Leave Room </button>

</div>


<!-- nick timestamp message -->